@model Testimonial
@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/Shared/_Admins.cshtml";
}

<h1 style="text-align:center;">New Add</h1>
<form method="post">
    <label>Name Surname</label>
    <input type="text" asp-for="NameSurname" class="form-control" autocomplete="off" />
    <br />

    <label>Title</label>
    <input type="text" asp-for="Title" class="form-control" autocomplete="off" />
    <br />

    

    <label>Image Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" autocomplete="off" />
    <br />

    <label>Description</label>
    <textarea type="text" asp-for="Description" class="form-control" autocomplete="off" rows="5"></textarea>
    <br />
    <button class="btn btn-info">Create</button>
</form>

