<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>My Portfolyo</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/UsersTema/assets/img/favicon.png" rel="icon">
    <link href="~/UsersTema/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="~/UsersTema/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/UsersTema/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/UsersTema/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/UsersTema/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/UsersTema/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: DevFolio
    * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    * Updated: Mar 17 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>