<div class="main-header">
	<div class="logo-header">
		<a href="index.html" class="logo">
			Admin 
		</a>
		<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
	</div>
	<nav class="navbar navbar-header navbar-expand-lg">
		<div class="container-fluid">
			<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
				<li class="nav-item dropdown hidden-caret">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="la la-envelope"></i>
						<span class="badge badge-danger">@ViewBag.MessageCount</span>
					</a>
					@await Component.InvokeAsync("_LayoutNavbarMessageComponentPartial")
					
				</li>
				<li class="nav-item dropdown hidden-caret">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="la la-bell"></i>
						<span class="badge badge-danger">@ViewBag.ToDoListCount</span>
					</a>
					@await Component.InvokeAsync("_LayoutNavbarToDoListComponentPartial")
				</li>
			
			</ul>
		</div>
	</nav>
</div>
