@model Skill
@{
    ViewData["Title"] = "CreateSkill";
    Layout = "~/Views/Shared/_Admins.cshtml";
}

<h1 style="text-align:center;">New Add</h1>
<form method="post">
    <label>Title</label>
    <input type="text" asp-for="Title" class="form-control" autocomplete="off" />
    <br />

    <label>Value</label>
    <input type="text" asp-for="Values" class="form-control" autocomplete="off" />
    <br />

    <button class="btn btn-info">Create</button>
</form>



