@model ToDoList
@{
    ViewData["Title"] = "UpdateToDoList";
    Layout = "~/Views/Shared/_Admins.cshtml";
}

<h1 style="text-align:center;">Update</h1>
<form method="post">
    <input type="hidden" asp-for="ToDoListId"/>
    <label>Title</label>
    <input type="text" asp-for="Title" class="form-control" autocomplete="off" />
    <br />

    <label>ImageUrl</label>
    <input type="text" asp-for="ImageUrl" class="form-control" autocomplete="off" />
    <br />

    <label>Status</label>
    <input type="text" asp-for="Status" class="form-control" autocomplete="off" />
    <br />

    <label>Text</label>
    <textarea type="text" asp-for="Text" class="form-control" autocomplete="off" rows="5"></textarea>
    <br />
    <button class="btn btn-info">Update</button>
</form>


