<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeadComponentPartial")
<body>
	<div class="wrapper">
		@await Component.InvokeAsync("_LayoutNavbarComponentPartial")
		@await Component.InvokeAsync("_LayoutSidebarComponentPartial")
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					@RenderBody()
				</div>
			</div>
		</div>
	</div>
</body>
@await Component.InvokeAsync("_LayoutScriptComponentPartial")
</html>