<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<br />
		<ul class="nav">
			<li class="nav-item active">
				<a href="/Admins/Index">
					<i class="la la-circle"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/About/Index">
					<i class="la la-circle"></i>
					<p>About</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Feature/Index">
					<i class="la la-circle"></i>
					<p>Feature</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Message/Index">
					<i class="la la-circle"></i>
					<p>Message</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Portfolio/Index">
					<i class="la la-circle"></i>
					<p>Portfolio</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Skill/Index">
					<i class="la la-circle"></i>
					<p>Skill</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/SocialMedia/Index">
					<i class="la la-circle"></i>
					<p>Social Media</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Testimonial/Index">
					<i class="la la-circle"></i>
					<p>Testimonial</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/WorkExperience/Index">
					<i class="la la-circle"></i>
					<p>Experience</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Contact/Index">
					<i class="la la-circle"></i>
					<p>Contact</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/ToDoList/Index">
					<i class="la la-circle"></i>
					<p>To Do List</p>
				</a>
			</li>
		</ul>
	</div>
</div>