@model Feature
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/Shared/_Admins.cshtml";
}

<h1 style="text-align:center;">Update</h1>
<form method="post">
    <input type="hidden" asp-for="FeatureId" />
    <label>Title</label>
    <input type="text" asp-for="Title" class="form-control" autocomplete="off" />
    <br />

    <label>Description</label>
    <textarea type="text" asp-for="Description" class="form-control" autocomplete="off" rows="5"></textarea>
    <br />

    <button class="btn btn-info">Update</button>
</form>


